<div class="row m-0">
    <div class="col-lg-5 p-0 mob-d-none">
       <!-- <app-left-part></app-left-part> -->
    </div>
    <div class="col-lg-7 p-0">
       <div class="credentials">
          <div class="form-content">
             <div class="signup-link animate__animated animate__fadeIn" id="signUpContent">
                <span>Don't have an account yet?</span>
                <a [routerLink]="['/register']">Sign Up!</a>
             </div>
             <!--begin::Signin-->
             <div class="login-signin animate__animated animate__fadeIn" id="signIn">
                <div class="text-center mb-5rem">
                   <h3>Sign In</h3>
                   <p>Enter your username and password</p>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()" #lForm="ngForm">
                   <div class="form-group">
                      <input formControlName="email" id="autofocus" type="email" class="form-control" placeholder="Username"
                         #email>
                   </div>
                   <div class="form-group">
                      <input formControlName="password" type="password" class="form-control" placeholder="Password">
                   </div>
                   <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                      <a [routerLink]="['/forgotPassword']" class="forgotPasswordLabel">
                         Forgot Password ?
                      </a>
                      <button type="submit" class="btn btn-primary" id="signInSubmitButton" [disabled]="!lForm.form.valid || disableLoginButton">Sign
                         In</button>
                   </div>
                </form>
             </div>
             <!--end::Signin-->
          </div>
       </div>
    </div>
 </div>