<div class="row m-0">
    <div class="col-lg-5 p-0 mob-d-none">
<!-- <app-left-part></app-left-part> -->
    </div>
    <div class="col-lg-7 p-0">
       <div class="credentials">
          <div class="form-content">
             <!--begin::Signup-->
             <div class="login-signup animate__animated animate__fadeInUp" id="signUp">
                <div class="text-center mb-5rem">
                   <h3>Sign Up</h3>
                   <p>Enter your details to create your account</p>
                </div>
                <form  >
                  <div class="form-group">
                     <input type="text" class="form-control" id="signUpName" aria-describedby="emailHelp" 
                        placeholder="Fullname"  >
                         <div class="invalid-feedback" >Please enter valid name</div>
                  </div>
                  <div class="form-group">
                     <input type="email" class="form-control" id="signUpEmail" aria-describedby="emailHelp" 
                        placeholder="Email"  >
                        <div class="invalid-feedback" >Please enter valid email</div>
                  </div>
                  <div class="form-group">
                     <input type="password" class="form-control" id="signUpPassword" placeholder="Password" >
                  </div>
                  <div class="form-group">
                     <input type="password" class="form-control" id="signUpCnfrmPswd" placeholder="Confirm password"  
                     >
                       <div class="invalid-feedback" >Passwords must match</div>
                  </div>
                  <div class="form-group text-center flex-wrap align-items-center">
                     <button type="submit" class="btn btn-primary mr-3" id="submitButton"  >Submit</button>
                     <button type="reset" class="btn btn-light-primary"  >Cancel</button>
                  </div>
               </form>
            </div>
             <!--end::Signup-->
          </div>
       </div>
    </div>
 </div>